@using Caixai.Web2.Data

@model Turma

@{
    ViewData["Title"] = "Create Turma";
}

<h2 class="mb-4">Criar Turma</h2>
<div asp-validation-summary="All"></div>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" class="form-control"/>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Professor" class="form-label"></label>
        <input asp-for="Professor" class="form-control"/>
        <span asp-validation-for="Professor" class="text-danger"></span>

    </div>
    <button type="submit" class="btn btn-primary">salvar</button>
    <a asp-action="Index" class="btn btn-secondary" ms-2>Cancelar</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}