@using Caixai.Web2.Data

@model Turma

@{
    ViewData["Title"] = "Edit Turma";
}

<h2 class="mb-4">Editar Turma</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" class="form-control" required />
    </div>
    <div>
        <label asp-for="Professor" class="form-label"></label>
        <input asp-for="Professor" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">salvar</button>
    <a asp-action="Index" class="btn btn-secondary" ms-2>Cancelar</a>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</form>